image
image.tar
README.md
build-script.sh

# Git files
**/.git
**/.gitignore
**/.gitattributes
**/.gitlab-ci.yml

# Ignore IDE and OS specific files
**/.idea
**/.vscode
**/.buildpath
**/.project
**/.settings
**/.htaccess
**/.DS_Store
**/.history
**/Thumbs.db

# Ignore generated dependencies
**/composer.phar
**/phpunit.phar
**/vendor
**/node_modules
**/bower_components
web/res/**/build

# Ignore generated caches (e.g. from php-cs-fixer) and code analysis result
**/*.cache
**/*.cache/**
**/*.phan
**/analysis.txt
**/.psalm-report*
**/junit.xml
**/*baseline.xml
**/ci-scripts
**/stubs

# Ignore web resources
web/assets/*
web/videos
web/downloads
web/dokumente
web/documents
storage
!storage/fonts
!storage/images
!storage/static

# Ignore logfiles and runtime files
**/*.log
**/log
!helpers/log
**/spool
**/php-sessions
**/local_certs
**/*.html___jb_tmp___
**/queues
**/runtime

# Ignore sensitive files that must be mounted
**/*.env

# Ignore web completely for php container, it is only required for webserver
# except for index.php as specified primary script and env.js.php in web/res
web
!web/index.php
# No wildcards supported here https://github.com/moby/moby/issues/30018
!web/res/1.4.8/js/env.js.php
